<!DOCTYPE html>
<html>
<head>
<style>
#grad1 {
  height: 800px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, blue);
}
h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
}
  div{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
    text-align: center;
  }
</style>
</head>
<body id="grad1">

<h1>User Fill Details</h1>
<div ><form action='/adddata' method="POST">
ID: <input name='a' placeholder ="Enter ID"/>
<br><br>
Name: <input name='x' placeholder ="Enter Name"/>
<br><br>
Age: <input name='y' placeholder ="Enter Age"/>
<br><br>
Location: <input name='z' placeholder ="Enter Location"/><br><br>
<input type="submit" value="Add New Data">
</form>
 <form action='/delete' method="POST">
<br>
<input type="submit" value="Delete Data">
<br>
</form> 
  </div>
  </body>
</html>
